In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hjain\appdata\local\programs\python\python310\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\hjain\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\hjain\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\hjain\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\hjain\appdata\local\programs\python\python310\lib\site-packages)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector

def create_connection():
    connection = mysql.connector.connect(
        host='127.0.0.1',       # Localhost IP address
        user='root',            # MySQL username
        password='root',  # Replace with your MySQL root password
        database='fleet_data'   # Replace with your database name
    )
    return connection

# Example usage
connection = create_connection()
if connection.is_connected():
    print("Connected to MySQL database")
connection.close()

Connected to MySQL database

In [7]:
def check_sum_cost_by_id(connection,year):
    cursor = connection.cursor()
    query = """
    SELECT ID, SUM(`Cost ($)`) 
    FROM vehicles 
    WHERE Year = %s
    GROUP BY ID
    """

    cursor.execute(query, (year,))
    records = cursor.fetchall()
    return records

In [8]:
year = 2024 
records = check_sum_cost_by_id(connection, year)

for record in records:
    print(f"ID: {record[0]}, Total Cost: ${record[1]:.2f}")

ID: BEV_S1_2024, Total Cost: $177650.00
ID: BEV_S2_2024, Total Cost: $258400.00
ID: BEV_S4_2024, Total Cost: $375854.00
ID: BEV_S3_2024, Total Cost: $293636.00
ID: Diesel_S1_2024, Total Cost: $87550.00
ID: Diesel_S2_2024, Total Cost: $107120.00
ID: Diesel_S4_2024, Total Cost: $155810.00
ID: Diesel_S3_2024, Total Cost: $121727.00
ID: LNG_S1_2024, Total Cost: $103000.00
ID: LNG_S2_2024, Total Cost: $136990.00
ID: LNG_S4_2024, Total Cost: $199258.00
ID: LNG_S3_2024, Total Cost: $155670.00

In [ ]:
def insurance_cost(connection,year):
    cursor = connection.cursor()
    query = """
    SELECT ID, SUM(`Cost ($)`) 
    FROM vehicles 
    WHERE Year = %s
    GROUP BY Year
    """