In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hjain\appdata\local\programs\python\python310\lib\site-packages (8.3.0)Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\hjain\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\hjain\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\hjain\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\hjain\appdata\local\programs\python\python310\lib\site-packages)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector

def create_connection():
    connection = mysql.connector.connect(
        host='127.0.0.1',       # Localhost IP address
        user='root',            # MySQL username
        password='root',  # Replace with your MySQL root password
        database='fleet_data'   # Replace with your database name
    )
    return connection

# Example usage
connection = create_connection()
if connection.is_connected():
    print("Connected to MySQL database")
connection.close()

Connected to MySQL database

In [3]:
def check_sum_cost_by_id(connection,year):
    cursor = connection.cursor()
    query = """
    SELECT ID, SUM(`Cost ($)`) 
    FROM vehicles 
    WHERE Year = %s
    GROUP BY ID
    """

    cursor.execute(query, (year,))
    records = cursor.fetchall()
    return records

In [5]:
connection = create_connection()
if connection.is_connected():
    print("Connected to MySQL database")

    year = 2024 
    records = check_sum_cost_by_id(connection, year)
    for record in records:
        print(f"ID: {record[0]}, Total Cost: ${record[1]:.2f}")

    connection.close()
else:
    print("Failed to connect to MySQL database")

Connected to MySQL database
ID: BEV_S1_2024, Total Cost: $177650.00
ID: BEV_S2_2024, Total Cost: $258400.00
ID: BEV_S4_2024, Total Cost: $375854.00
ID: BEV_S3_2024, Total Cost: $293636.00
ID: Diesel_S1_2024, Total Cost: $87550.00
ID: Diesel_S2_2024, Total Cost: $107120.00
ID: Diesel_S4_2024, Total Cost: $155810.00
ID: Diesel_S3_2024, Total Cost: $121727.00
ID: LNG_S1_2024, Total Cost: $103000.00
ID: LNG_S2_2024, Total Cost: $136990.00
ID: LNG_S4_2024, Total Cost: $199258.00
ID: LNG_S3_2024, Total Cost: $155670.00

In [56]:
def insurance_cost_per_year(connection,year,Id):
    cursor = connection.cursor()
    query = """
    SELECT SUM(`Cost ($)`) 
    FROM vehicles 
    WHERE Year = %s and ID = %s
    GROUP BY Year
    """
    cursor.execute(query, (year,Id))
    records = cursor.fetchall()
    return records

In [59]:
year = 2024
Id = 'BEV_S1_2024'
total_cost = insurance_cost_per_year(connection,year,Id)

In [7]:
def end_of_year(connection):
    cursor = connection.cursor()
    query = """
    SELECT Year from vehicles
    """
    cursor.execute(query)
    records = cursor.fetchall()
    return records

In [62]:
output_years = end_of_year(connection)

In [63]:
input_year = output_years[0][0]

In [64]:
print(c)

2023

In [76]:
def difference_year1(yr,input_year):
    diff = abs(input_year - yr)
    return diff

In [80]:
yr = 2024
print(difference_year1(yr,input_year))

1

In [25]:
def difference_year(yr,records):
    diff = []
    for i in range(len(records)):
        diff.append(abs(records[i][0] - yr))
    return diff

In [26]:
yr = 2024
print(difference_year(yr,records))

[1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [81]:
def insurance_cost(connection, diff):
    cursor = connection.cursor()
    insurance_records = []
    for year_diff in diff:
        query = """
        SELECT `Insurance Cost %`
        FROM cost_profiles
        WHERE `End of Year` = %s
        """
        cursor.execute(query, (year_diff,))
        records = cursor.fetchall()
        insurance_records.extend(records)
    return insurance_records

In [82]:
diff = difference_year(2024, records)
insurance_costs = insurance_cost(connection, diff)
print(insurance_costs)

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [60]:
total_cost_value = total_cost[0][0]
insurance_cost_values = [(record[0]/100) for record in insurance_costs]
final_values = [total_cost_value * insurance_cost for insurance_cost in insurance_cost_values]
print(final_values)

[8882.5, 8882.5, 10659.0, 12435.500000000002, 14212.0, 15988.5, 17765.0, 19541.5, 21318.0, 23094.5, 24871.000000000004, 8882.5, 8882.5, 10659.0, 12435.500000000002, 14212.0, 15988.5, 17765.0, 19541.5, 21318.0, 23094.5, 24871.000000000004, 8882.5, 8882.5, 10659.0, 12435.500000000002, 14212.0, 15988.5, 17765.0, 19541.5, 21318.0, 23094.5, 24871.000000000004, 8882.5, 8882.5, 10659.0, 12435.500000000002, 14212.0, 15988.5, 17765.0, 19541.5, 21318.0, 23094.5, 24871.000000000004, 8882.5, 8882.5, 10659.0, 12435.500000000002, 14212.0, 15988.5, 17765.0, 19541.5, 21318.0, 23094.5, 24871.000000000004, 8882.5, 8882.5, 10659.0, 12435.500000000002, 14212.0, 15988.5, 17765.0, 19541.5, 21318.0, 23094.5, 24871.000000000004, 8882.5, 8882.5, 10659.0, 12435.500000000002, 14212.0, 15988.5, 17765.0, 19541.5, 21318.0, 23094.5, 24871.000000000004, 8882.5, 8882.5, 10659.0, 12435.500000000002, 14212.0, 15988.5, 17765.0, 19541.5, 21318.0, 23094.5, 24871.000000000004, 8882.5, 8882.5, 10659.0, 12435.500000000002, 14212.0, 15988.5, 17765.0, 19541.5, 21318.0, 23094.5, 24871.000000000004, 8882.5, 8882.5, 10659.0, 12435.500000000002, 14212.0, 15988.5, 17765.0, 19541.5, 21318.0, 23094.5, 24871.000000000004, 8882.5, 8882.5, 10659.0, 12435.500000000002, 14212.0, 15988.5, 17765.0, 19541.5, 21318.0, 23094.5, 24871.000000000004, 8882.5, 8882.5, 10659.0, 12435.500000000002, 14212.0, 15988.5, 17765.0, 19541.5, 21318.0, 23094.5, 24871.000000000004]

In [61]:
total_cost_value

177650.0